.content{
  width: 80 vw;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.puzzle-grid{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: 24vh;
  gap: 1%;
}

.block{
  touch-action: none;
  -ms-touch-action: none;
  
  text-align: center;
  transition: all .4s ease-out;
}

.block:hover{
  filter: brightness(120%);
}

.dragging-mobile,
.dragging{
  filter: brightness(50%);
  transform: scale(1.1);
}

.block-style{
  box-shadow: 5px 5px 20px #252525;
  font-size:16px;
}


.block-1-1{
  grid-row: span 1;
  grid-column: span 1;
}

.block-2-1{
  grid-row: span 1;
  grid-column: span 2;
}

.block-4-1{
  grid-row: span 1;
  grid-column: span 4;
}

.block-1-2{
  grid-row: span 2;
  grid-column: span 1;
}

.block-1-4{
  grid-row: span 4;
  grid-column: span 1;
}

.block-2-2{
  grid-row: span 2;
  grid-column: span 2;
}

.block-4-2{
  grid-row: span 2;
  grid-column: span 4;
}

.block-2-4{
  grid-row: span 4;
  grid-column: span 2;
}

.block-4-4{
  grid-row: span 4;
  grid-column: span 4;
}


/* For demo */
.block-red {
  background-color: #d46868;
}

.block-blue {
  background-color: cornflowerblue;
}

.block-green {
  background-color: #63e269;
}

.block-yellow{
  background-color: #d3a747;
}


/* Animations */
.translate-right{
  transform: translate(104%,0);
}

.translate-left{
  transform: translate(-104%,0);
}

.translate-down-row{
  transform: translate(-312%,106%);
}

.translate-up-row{
  transform: translate(312%,-106%);
}