.puzzle-grid{
  display: grid;
  grid-template-columns: repeat(4, 24vw);
  grid-auto-rows: 24vh;
  gap: 1vh;
}

.block{
  border-color: black;
  border-style: solid;
  font-size:16px;
  text-align: center;
}

.block:hover{
  filter: brightness(120%);
}

.block-1-1{
  grid-row: span 1;
  grid-column: span 1;
}

.block-2-1{
  grid-row: span 1;
  grid-column: span 2;
}

.block-4-1{
  grid-row: span 1;
  grid-column: span 4;
}

.block-1-2{
  grid-row: span 2;
  grid-column: span 1;
}

.block-1-4{
  grid-row: span 4;
  grid-column: span 1;
}

.block-2-2{
  grid-row: span 2;
  grid-column: span 2;
}

.block-4-2{
  grid-row: span 2;
  grid-column: span 4;
}

.block-2-4{
  grid-row: span 4;
  grid-column: span 2;
}

.block-4-4{
  grid-row: span 4;
  grid-column: span 4;
}


.dragging{
  filter: brightness(50%) !important;
}



/* For demo */
.block-red {
  background-color: #d46868;
}

.block-blue {
  background-color: cornflowerblue;
}

.block-green {
  background-color: #63e269;
}

.block-yellow{
  background-color: #d3a747;
}